USE [Sagitario]
GO
/****** Object:  Table [dbo].[TBL_TITULACION]    Script Date: 04/17/2012 16:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_TITULACION](
	[PK_TITULO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](70) NOT NULL,
 CONSTRAINT [PK_TBL_TITULACION] PRIMARY KEY CLUSTERED 
(
	[PK_TITULO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_TITULACION] ON
INSERT [dbo].[TBL_TITULACION] ([PK_TITULO], [DESCRIPCION]) VALUES (1, N'Indicar Nivel')
INSERT [dbo].[TBL_TITULACION] ([PK_TITULO], [DESCRIPCION]) VALUES (2, N'Educación Secundaria Obligatoria')
INSERT [dbo].[TBL_TITULACION] ([PK_TITULO], [DESCRIPCION]) VALUES (3, N'Enseñanzas artísticas (regladas)')
SET IDENTITY_INSERT [dbo].[TBL_TITULACION] OFF
