USE [Sagitario]
GO
/****** Object:  Table [dbo].[TBL_NIVEL]    Script Date: 04/17/2012 17:36:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_NIVEL](
	[PK_NIVEL] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](70) NOT NULL,
 CONSTRAINT [PK_TBL_NIVEL] PRIMARY KEY CLUSTERED 
(
	[PK_NIVEL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_NIVEL] ON
INSERT [dbo].[TBL_NIVEL] ([PK_NIVEL], [DESCRIPCION]) VALUES (1, N'(Seleccionar)')
INSERT [dbo].[TBL_NIVEL] ([PK_NIVEL], [DESCRIPCION]) VALUES (2, N'Becario / Prácticas')
INSERT [dbo].[TBL_NIVEL] ([PK_NIVEL], [DESCRIPCION]) VALUES (3, N'Empleado')
SET IDENTITY_INSERT [dbo].[TBL_NIVEL] OFF
