<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BackEnd.Properties.Settings.MarteConnectionString"
            connectionString="Data Source=JobplinServer;Initial Catalog=Marte;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="BackEnd.Properties.Settings.sagitarioConnectionString"
            connectionString="Data Source=jobplinserver;Initial Catalog=sagitario;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>