
GO
/****** Object:  Table [dbo].[TBL_CO_IDIOMAS]    Script Date: 04/17/2012 14:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_CO_IDIOMAS](
	[PK_TIPOIDIOMA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](70) NOT NULL,
 CONSTRAINT [PK_TBL_CO_IDIOMAS] PRIMARY KEY CLUSTERED 
(
	[PK_TIPOIDIOMA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_CO_IDIOMAS] ON
INSERT [dbo].[TBL_CO_IDIOMAS] ([PK_TIPOIDIOMA], [DESCRIPCION]) VALUES (1, N'Español')
INSERT [dbo].[TBL_CO_IDIOMAS] ([PK_TIPOIDIOMA], [DESCRIPCION]) VALUES (2, N'Catalán')
INSERT [dbo].[TBL_CO_IDIOMAS] ([PK_TIPOIDIOMA], [DESCRIPCION]) VALUES (3, N'Inglés')
SET IDENTITY_INSERT [dbo].[TBL_CO_IDIOMAS] OFF
